@import "compass/reset";
@import "compass/css3";

/* fonts */
@import "partials/_fonts.scss";

/* grid system - bootstrap */
@import "partials/_grid.scss";

@import "partials/_navigation.scss";

body
{
	background-image:url('../images/bg.png');
	background-repeat:repeat;
	width: 100%;

	font-family: 'Arimo', serif;
    font-size: 48px;

}

.splash {
	color: black;
	position: absolute;
	top: 40%;
	width: 100%;
}

.splash > p {
	width: 100%;
	text-align: center;
}	 