---
layout: _layouts/base.njk
---

<article>
  <div class="post-frontmatter">
    <h1>{{ title }}</h1>
    {% include "../_components/post-metadata.njk" %}
  </div>

  <div class="post-content">
    {{ content | safe }}
  </div>
</article>