---
layout: _layouts/base.njk
---

<article>
  <div class="row post-frontmatter">
    <div class="col-sm-12">
      <h1>{{ title }}</h1>
      {% include "../_components/post-metadata.njk" %}
    </div>
  </div>
</div>

<div class="row post-content">
  <div class="">
    {{ content | safe }}
  </div>
</div>
</article>