---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
title: Latest posts
description: Latest posts authored by Shay Kalyan
pagination:
  data: collections.all
  size: 10
  reverse: true
  alias: posts
---
<div class="container">
  <div class="row blog-home">
    <div class="col">
      <h1>Latest Posts 👇🏼</h1>
      {% include "./_includes/components/posts-list.njk" %}
    </div>
  </div>
</div>