---
layout: _layouts/base.njk
pagination:
  data: collections.post
  size: 10
  reverse: true
  alias: posts
---

<div class="container">
  <div class="row cf blog-home">
    <div class="col-sm-12">

      <h1>Latest Posts 👇🏼</h1>

      {% for post in posts %}
        <article class="blog-post-item">
          <h2>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
          </h2>

          {% include "./_includes/_components/post-metadata.njk" %}

          <div class="blog-post-item-excerpt">
            <p>
              {{ post.data.page.excerpt }}
            </p>
          </div>

          <p class="blog-post-item-cta link-alternate">
            <a href="{{ post.url | url }}">Read more...</a>
          </p>
        </article>
      {% endfor %}

    </div>
  </div>
</div>