---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
title: Latest posts
description: Latest posts authored by Shay Kalyan
pagination:
  data: collections.all
  size: 10
  reverse: true
  alias: posts
---
<div class="">
  <div class="container-fluid home-intro">
    <div class="container">
      <div class="row">
        <div class="col main-title">
          <h1>👇🏼 Latest Posts</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row blog-home">
      <div class="col">
        {% include "./_includes/components/posts-list.njk" %}
      </div>
    </div>
  </div>
</div>