---
permalink: ../sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://shaykalyan.com/</loc>
  </url>
  <url>
    <loc>https://shaykalyan.com/blog/</loc>
  </url>
{% for post in collections.all %}
  <url>
    <loc>https://shaykalyan.com{{ post.url | url }}</loc>
    <lastmod>{{ post.date | dateIso }}</lastmod>
  </url>
{% endfor %}
</urlset>
