---
eleventyExcludeFromCollections: true
permalink: /tags/
layout: layouts/base.njk
---

<div class="container">
    <div class="row">
        <h1>Tags</h1>
    </div>

    <div class="row">
        {% for tag in collections.tagList %}
            {% set tagUrl %}/tags/{{ tag }}/{% endset %}
            <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
        {% endfor %}
    </div>
</div>