---
eleventyExcludeFromCollections: true
pagination:
  data: collections.tagList
  size: 1
  alias: tag
layout: layouts/base.njk
eleventyComputed:
  title: Posts tagged with "{{ tag }}"
  description: All posts tagged with "{{ tag }}"
permalink: /tags/{{ tag }}/
---
<div class="container">
    <div class="row">
        <div class="col">
            <h1>
            Tagged  
            <span class="post-metadata-tag">
                    {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                    <a href="{{ tagUrl | url }}" class="link-alternate">
                        {{ tag }}
                    </a>
                </span>
            </h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {% set posts = collections[tag] | sortPostsByDate %}
            {% include "components/posts-list.njk" %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>See  <a href="{{ '/tags/' | url }}">all tags</a>.</p>
        </div>
    </div>
</div>
