@font-face {
    font-family: "sofia-prolight";
    src: url("../fonts/sofiaprolight-webfont.eot");
    src: url("../fonts/sofiaprolight-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/sofiaprolight-webfont.svg#sofia_prolight") format("svg"),
        url("../fonts/sofiaprolight-webfont.woff") format("woff"),
        url("../fonts/sofiaprolight-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "code-pro";
    src: url("../fonts/code_pro_demo-webfont.eot");
    src: url("../fonts/code_pro_demo-webfont.eot?#iefix") format("embedded-opentype"),
        url("../fonts/code_pro_demo-webfont.svg#code_pro_demoregular") format("svg"),
        url("../fonts/code_pro_demo-webfont.woff") format("woff"),
        url("../fonts/code_pro_demo-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "code-pro";
    font-weight: 100;
}

h1 {
    font-size: 0.6em;
    margin: 0;

    @media (min-width: $width-sm) {
        font-size: 0.8em;
    }
}

h2 {
    font-size: 0.5em;
    margin: 2rem 0 0.5rem;
}

h3 {
    font-size: 0.45em;
}

h4 {
    font-size: 0.4em;
}

h5 {
    font-size: 0.35em;
}

h6 {
    font-size: 0.3em;
}

p,
ul,
ol,
table {
    font-family: "sofia-prolight";
    font-size: 1rem;

    @media (min-width: $width-sm) {
        font-size: 1.25rem;
    }
}

a {
    color: $color-blue;
    background-color: $color-blue-alpha;

    &:hover {
        text-decoration: none;
        color: white;
        background-color: $color-blue;
    }
}
