@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?ltvcc4');
  src: url('../fonts/icomoon.eot?ltvcc4#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?ltvcc4') format('truetype'),
    url('../fonts/icomoon.woff?ltvcc4') format('woff'),
    url('../fonts/icomoon.svg?ltvcc4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-threads:before {
  content: "\e900";
}

.icon-price-tags:before {
  content: "\e936";
}

.icon-calendar:before {
  content: "\e953";
}

.icon-quotes-left:before {
  content: "\e977";
}

.icon-quotes-right:before {
  content: "\e978";
}

.icon-new-tab:before {
  content: "\ea7e";
}

.icon-instagram:before {
  content: "\ea92";
}

.icon-github:before {
  content: "\eab0";
}

.icon-linkedin:before {
  content: "\eac9";
}

.icon-linkedin2:before {
  content: "\eaca";
}

.icon-file-pdf:before {
  content: "\eadf";
}

$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-threads: "\e900";
$icon-price-tags: "\e936";
$icon-calendar: "\e953";
$icon-quotes-left: "\e977";
$icon-quotes-right: "\e978";
$icon-new-tab: "\ea7e";
$icon-instagram: "\ea92";
$icon-github: "\eab0";
$icon-linkedin: "\eac9";
$icon-linkedin2: "\eaca";
$icon-file-pdf: "\eadf";