$color-blue: rgba(27, 161, 226, 1);
$color-blue-alpha: rgba(27, 161, 226, 0.2);
$color-navbar-bg: rgba(255, 255, 255, 0.5);
$color-gray: rgb(51, 51, 51);
$color-gray-alpha: rgba(51, 51, 51, 0.1);

$width-xl: 1140px;
$width-lg: 960px;
$width-md: 768px;
$width-sm: 576px;

$footer-height: 70px;
